<% provide :title, "Home" %>
<div id="container">
  <div id="header">
      <ul>
        <li><%= link_to "Notification", "#" %></li>
        <li><%= link_to "Signup", "#" %></li>
        <li><%= link_to "Log in", "#" %></li>
      </ul>
  </div>

  <div id="content">
    <div id="advertisement">
      Advertisement
    </div>
    <div id="main">
      <div id="product">
        Product
      </div>
      <div id="about">
        About
      </div>
    </div>
    <div id="popularword">
      Popular Word
    </div>
  </div>
  <div id="footer">
    Footer
  </div>
</div>
