<% provide :title, "Home" %>
<div id="container">
  <div id="header">
    Header
  </div>
  <div id="content">
    <div id="advertisement">
      Advertisement
    </div>
    <div id="main">
      <div id="product">
        Product
      </div>
      <div id="about">
        About
      </div>
    </div>
    <div id="popularword">
      Popular Word
    </div>
  </div>
  <div id="footer">
    Footer
  </div>
</div>
